html, body {
    height: 100%;
    margin: 0;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body{
background-image: url('../../public/bg.png');
    background-repeat:no-repeat;
    background-size: 106%;
}

main{
    height: 100%;
}

.card{
    padding: 10px;
    width: 50%;
    height: 85%;
    background: #834116a9;
    box-shadow: 0px 0px 10px 0.1px rgba(27, 3, 3, 0.623);
    border: 0.1px solid #aa5815a9;
    border-radius: 30px;
    gap:10px;
}

.inside-screen{
    flex: 1;
    width: 500px;
    background: #c9782d88;
    cursor: crosshair;
}

.log{
    width: 64px;
    margin-top: -37px;
    pointer-events: none;
}

.plank{
    width: 500px;
    height: 60px;
    z-index: 333;
    pointer-events: none;
}

.section{
    width: 150px;
    height: 140px;
    background: #c9782d88;
}

.card-footer{
    width: 95%;
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content:space-around;
}

.history-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: xx-large;
    cursor: pointer;
    background: #834116a9; 
    box-shadow: 0px 0px 5px 0.1px rgba(27, 3, 3, 0.514);
    transition: background 0.2s;
}

.history-btn:hover {
    background: #a05a1fa9;
}

.history-card{
    width: 250px;
    height: 20%;
    background: #834116a9;
    box-shadow: 0px 0px 10px 0.1px rgba(27, 3, 3, 0.521);
    gap:10px;
    position: absolute;
    top: 60px;
    right: 20px;
}

.history-card-list{
    width: 100%;
    text-align: start;
}

.rounded-box {
    border-radius: 30px;
    border: 0.3px solid #aa5815a9;
}

.history-p{
margin: 0px;
margin-bottom: -6px;
}