html, body {
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', sans-serif;
    font-weight: 500;
    /* AI */
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  /*  */
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body{
background-image: url('../../public/bg.png');
    background-repeat:no-repeat;
    background-size: 106%;
    background-size: cover;
}

main{
    height: 100%;
}

.card{
    padding: 10px;
    width: 50%;
    height: 85%;
    background: #bd8a5bcf;
    box-shadow: 0px 0px 10px 0.1px rgba(27, 3, 3, 0.623);
    border: 0.1px solid #96775f;
    border-radius: 30px;
    gap:10px;
     color: #E0C29B;
  font-size: medium
  ;
}

.inside-screen{
    flex: 1;
    width: 500px;
    background: #4d302a1b;
    cursor: crosshair;
}

.pivot{
    width: 64px;
    margin-top: -106px;
    pointer-events: none;
}
img{
    /* üstüne tıklayınca en sola resimleri atmasın diye */
    pointer-events: none;
}
.plank{
    width: 500px;
    height: 200px;
    z-index: 333;
    pointer-events: none;
    position: relative;
}

.section{
    width: 150px;
    height: 100px;
    background: #043c5c9c;
}

.card-footer{
    width: 95%;
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content:space-around;
    flex-wrap: wrap;
}

.history-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: xx-large;
  color: #ffffff;
        background: #043c5c9c;    
}


.history-btn:hover{
background: #043c5c6a;
}

button{
    cursor: pointer;
    box-shadow: 0px 0px 5px 0.1px rgba(27, 3, 3, 0.514);
    transition: background 0.2s;
    border: 0.5px solid;
}


.reset-btn{
font-size: medium;
padding: 6px;
}

.reset-btn {
  background-color: transparent;
  color: #e2dfdc;
  border: 1px solid #043c5c9c;
  position: relative;
  border-radius: 10px;
}

.reset-btn::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #043c5c;
  transition: width 0.3s ease;
  z-index: -1;
  border-radius: 10px;
}

.reset-btn:hover::after {
  width: 100%;
}

.reset-btn:hover {
  color: rgba(248, 245, 245, 0.897);

}

.history-card{
    width: 20%;
    height: 20%;
    background: #043c5c9c;
    box-shadow: 0px 0px 10px 0.1px rgba(27, 3, 3, 0.521);
    gap:10px;
    position: absolute;
    top: 60px;
    right: 20px;
    visibility: hidden;
    overflow: hidden;
    color: white;
}

.history-card-list{
    width: 100%;
    text-align: start;
    overflow: auto;
    border-radius: 30px;
}

.rounded-box {
    border-radius: 20%;
    border: 0.3px solid #aa5815a9;
}

.history-p{
margin: 0px;
margin-bottom: -6px;
}


/*  copy-paste from some website for styling css */
#scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#scrollbar::-webkit-scrollbar
{
	width: 2px;
	background-color: #F5F5F5;
}

#scrollbar::-webkit-scrollbar-thumb
{
	background-color: rgb(65, 94, 58);	
    max-height:0.5px;
	background-image: -webkit-linear-gradient(90deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}

/* ------ */

.measurement{
    color: white;
    font-weight: 700;
}

.plank-box {
    position: relative;
    width: 500px;
    height: 200px;
    transform-origin: center center;
    transition: transform 0.3s ease;
    z-index: 333;
}

ul {
  list-style-type: none;
  padding: 12px;
}

li{
    margin-bottom: 10px;
}

.falling-element {
  animation: falling 0.4s ease-in;
}

@keyframes falling {
  from {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.section-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.next-weight-icon{
            height: 24px;
                    width: auto;
                    vertical-align: middle;
                    margin-right: 4px;
}